apiVersion: v1
kind: Secret
metadata:
  name: application-auth
  namespace: database
type: Opaque
stringData:
  ME_AUTH_UNAME: "PLACEHOLDER"
  ME_AUTH_UPASS: "PLACEHOLDER"
  READER_NAME: "PLACEHOLDER"
  READER_PASS: "PLACEHOLDER"
  WRITER_NAME: "PLACEHOLDER"
  WRITER_PASS: "PLACEHOLDER"
  ROOT_NAME: "PLACEHOLDER"
  ROOT_PASS: "PLACEHOLDER"